h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
  font-size: 3em;
}

section {
  border: 5px solid green;
  margin: 15px;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
  font-size: 2em;
}

p {
  text-align: center;
  font-style: italic;
  margin-left: 200px;
  margin-right: 200px;
  border: 8px dashed blue;
}

img {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  text-align: center;
}
